.create-inputs h3 {
    font-size: 1.3rem;
}

.create-inputs {
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    /* background: white; */
=======
    background: red;
>>>>>>> 65daebb94c44f7ca1296421f8e96ac569913d31c
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.create-inputs input, textarea, button {
    width: 90%;
    padding: .4em;
    margin: .4rem auto;
    border-color: transparent;
    border-radius: 4px;
}

/* textarea {
    width: 300px;
    padding: .4em;
    margin: .4rem auto;
    border-color: transparent;
    border-radius: 4px;
} */

.skill-form {
    display: flex;
    flex-direction: column;
}

.skill-form input {
    margin: .5rem auto .4rem auto;
}

<<<<<<< HEAD
.skill-form button, form button {
=======
.skill-form button {
>>>>>>> 65daebb94c44f7ca1296421f8e96ac569913d31c
    width: 90%;
    margin: 0 auto;
    cursor: pointer;
}
